body{
	background-color: #111;
}

.jumbotron {
	background-color: #111;
}

#main {
	background-image: url("../images/1024px-Environments-22-cave.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.card {
	height: 330px;
	margin-bottom: 20px;
}

.card-body {
	padding-top: 0;
}


h1 {
	color: #8ac3d9;
}

h3 {
	color: #c6e8f2;
}

.hidden {
	visibility: hidden;
}

#slot1, #slot5{
	border-right: 3px solid #5c470d;
}

#slot4, #slot8{
	border-left: 3px solid #5c470d;
}

#slot2, #slot3{
	border-top: 3px solid #5c470d;
	padding-top: 10px;
	margin-bottom: -20px;
}

#slot6{
	border-bottom: 3px solid #5c470d;
	padding-top: -10px;
}

.attack {
	color: #ffc107;
}

.col-md-3 {
	height: 350px;
}

.top {
	padding-top: 10px;
}

.btn {
	margin-top: 75px;
	font-weight: 700;
}

